<div>
	<div>
		<h2>ジャンル別</h2>
		<div>
			<% @products.each do |product| %>
				<%= attachment_image_tag product, :photo %>
				<p>タイトル</p>

				<p>アーティスト</p>

				<p>ジャンル</p>

				<p>価格</p>

				<%= link_to 'カートに入れる' 
			<% end %>
		</div>
	</div>
</div>