    <h1 class="text-center">退会手続きが完了しました。ありがとうございました。</h1>

    <div class="container">

     <button type="button" class="btn btn-default btn-lg center-block">
	 <div class="btn">
        <%= link_to 'TOPへ戻る', admin_products_path, class: 'btn btn-default' %></div>
     </button>
</div>