
<div class="container">
    <h1 class="text-center">レーベル一覧</h1>
    <div class="btn-group text" >
      <div class="btn-group" role="group" >
        <%= link_to "レーベル新規登録", new_admin_artist_path, class:"btn btn-default" %>
      </div>
    </div>
        <table class="table table-bordered">
  	      <thead>
  	        <tr>
              <th style="text-align:center;">レーベル名</th>
  	          <th style="text-align:center;">ボタン</th>
  	        </tr>
  	      </thead>

  	      <tbody>
            <% @labels.each do |label| %>
              <tr>
              	<td align="center"><%= label.label_name %></td>
                <td align="center"><%= link_to "編集", edit_admin_label_path(label.id) %></td>
              </tr>
            <% end %>
        	</tbody>
        </table>
        <div class="row text-center">
        <%= paginate @labels, class: "paginate" %>
        </div>
  </div>

<style>

.text{
  margin-bottom: 20px;
  margin-left: 500px;
}

</style>