<div class=”form-group”>
  <%= form_tag("/end_user/products/result", method: :'get') do %>
    <%= text_field_tag :search%>
    <span class="form-group-btn">
      <%= submit_tag '検索', :name => nil %>
    </span>
  <% end %>
</div>

<style>

  input[type="text"] {
        width: 160px;
        height: 25px;
  }

</style>

