<div id="song_id_">

<input type="hidden" value="" name="product[disks_attributes][<%= @DiskNo.to_i-1 %>][record_musics_attributes][][id]">

<input type="text" value="2" name="product[disks_attributes][<%= @DiskNo.to_i-1 %>][record_musics_attributes][][track_number]" >

<input type="text" value="2" name="product[disks_attributes][<%= @DiskNo.to_i-1 %>][record_musics_attributes][][song_name]" >

<input type="text" value="2" name="product[disks_attributes][<%= @DiskNo.to_i-1 %>][record_musics_attributes][][theme]" >

</div>
