
<h1 class="text-center">ユーザ一覧</h1>
<div class="container">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th style="text-align:center;">ID</th>
				<th style="text-align:center;">名前</th>
				<th style="text-align:center;">カナ</th>
			</tr>
		</thead>
		<tbody>
			<% @end_users.each do |end_user| %>
				<tr>
					   <td align="center">
						<%= link_to end_user.id,admin_user_path(end_user.id) %>
					    </td>
						<td align="center">
							<%= end_user.kanzi_last_name+end_user.kanzi_first_name %>
						</td>
						<td align="center">
							<%= end_user.kana_last_name+""+end_user.kana_first_name %>
						</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<div class="row">
		<nav class=center"col-md-6 col-md-offset-3>
			<ul class="pagination pagination-lg">
				<li>
					<a href="#" aria-label="前のページへ">
						<span aria-hidden="true">«</span>
					</a>
				</li>
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li>
					<a href="#" aria-label="次のページへ">
						<span aria-hidden="true">»</span>
					</a>
				</li>
			</ul>
		</nav>



