<h1>EndUser::Users#check</h1>
<p>Find me in app/views/end_user/users/check.html.erb</p>
<h1>本当に退会しますか？</h1>

<div class="mypage">
 	<%= link_to"マイページへ戻る",   mypage_path %>
 </div>
 <div class="TOP render">
 	<%= link_to"退会",  end_user_finish_path %>
 </div>
