<h1>EndUser::Users#finish</h1>
<p>Find me in app/views/end_user/users/finish.html.erb</p>

<h1>退会手続きが完了しました。ありがとうございました。</h1>




<div class="TOP render">
 	<%= link_to"TOPへ戻る", end_user_products_path %>
 </div>