<h1>EndUser::Users#show</h1>
<p>Find me in app/views/end_user/users/show.html.erb</p>

<h1>マイページ</h1>
 <div class="profile">
  <table class="end_user_profile">
		<thead>
		<tr>
			<th></th><th></th>
		</tr>
	    </thead>

	    <tbody>

			<tr>
				<td>名前</td>
				<td>
					<%= current_end_user.kanzi_last_name+current_end_user.kanzi_first_name %>
				</td>

				<td>カナ</td>
				<td>
					<%= current_end_user.kana_last_name+""+current_end_user.kana_first_name %>
				</td>
			
				<td>メールアドレス</td>
				<td>
					<%= current_end_user.email %>
				</td>
				<td>パスワード</td>
				<td>
					<%= current_end_user.password %>
				</td>
			</tr>
 	    </tbody>
     </table>
 </div>

 <h1>住所情報</h1>
 <div class="profile">
  <table class="end_user_address">
		<thead>
		<tr>
			<th></th><th></th>
		</tr>
	    </thead>

	    <tbody>

			<tr>
            user.addresses.each do |address|
	        tr
		    <td> address.postal_code </td>
		    <td> address.address</td>
			<td> address.phone_number</td>
	        </tr>
         <%end%>
     </tbody>
    </table>


 </div>
