<div class="footer admin">
      <div>
        <div>
          <p>会社情報</p>
          <p>社名</p>
          <p>住所</p>
          <p>電話番号</p>
          <div>
            <a>nagano music Inc</a>
          </div>
        </div>
      </div>
    </div>